asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-appconf
django-compressor
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
env
filelock
pillow
pipenv
platformdirs
psycopg
psycopg2
pyjokes
PyMsgBox
PyMySQL
pyparsing
pyperclip
PyQt5
PyQt5-Qt5
PyQt5_sip
PyRect
PyScreeze
python-dateutil
pytweening
pytz
PyWallpaper
rcssmin
rjsmin
setuptools
six
sqlparse
toml
tomli
typing_extensions
tzdata
urllib3
virtualenv