
{% load static %}

{% block content %}
<!-- Hero 3 - Bootstrap Brain Component -->
<section class="py-3 py-lg-5 py-xl-8">
  <div class="container overflow-hidden">
    <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
      <div class="col-12 col-lg-6 order-1 order-lg-0">
        <h2 class="display-3 fw-bold mb-3">Gojo sensei is watching you!</h2>
        <p class="fs-4 mb-5">Timely task management enhances productivity, reduces stress, and leads to a sense of accomplishment, driving success in both personal and professional life.</p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn btn-secondary bsb-btn-2xl rounded-pill">Explore Now</button>
          <button type="button" class="btn btn-outline-dark bsb-btn-2xl rounded-pill">Free Trial</button>
        </div>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="position-relative">
          <div class="bsb-circle border border-4 border-info position-absolute top-50 start-10 translate-middle z-1"></div>
          <div class="bsb-circle bg-secondary position-absolute top-50 start-50 translate-middle" style="--bsb-cs: 460px;"></div>
          <div class="bsb-circle border border-4 border-danger position-absolute top-10 end-0 z-1" style="--bsb-cs: 100px;"></div>
          <img class="img-fluid position-relative z-2" loading="lazy" src="{% static 'images/gojo.png' %}" alt="sawons website hero section">
          {% comment %} <img class="img-fluid position-relative z-2" loading="lazy" src="https://img.freepik.com/free-vector/young-superhero-action-pose_1308-172152.jpg" alt="A Digital Agency Specialized in AI and Web 3.0"> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
<div>
    {% comment %} {% include 'show_books.html' with books=books %} {% endcomment %}
</div>



<section class="main-home container-fluid mb-4">
  <div class="my-5 text-success">
    <h2>User's Activities</h2>
    <hr>
  </div>
  <div class="row d-flex justify-content-center gy-4">

    {% for task in taskHome %}
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          {% comment %} <span class="avatar text-bg-primary avatar-lg fs-5">R</span> {% endcomment %}
          <div class="text-center d-flex align-items-center">
           {% comment %} asd {{ac.gender}} {% endcomment %}
            <img src="{{task.user.account.image}}" class="img-fluid rounded-circle" height="50" width="50" alt="{{data.user.username}}" />
          </div>
          <div class="ms-3">
            <h6 class="mb-0 fs-sm text-success">{{task.user.first_name}} {{task.user.last_name}} ({{task.user.username}})</h6>
            
            <span class="text-muted fs-sm">{{task.created_at}}</span>
          </div>
          <div class="dropstart ms-auto">
            <p class="text-success fs-sm">User Point: {{task.user.account.points}}</p>
            <button class="btn text-muted" type="btn" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i> 
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
            </ul>
          </div>
        </div>
        {% comment %} <img src="/images/cards/2.jpg" class="card-img-top" alt="green iguana" /> {% endcomment %}
        <div class="card-body">
          <p class="card-text">
          
            <div class="card-body">
              {% if task.complete %}
                <h5 class="card-title">Status: <span class="text-success">Completed</span></h5>
              {% else %}
                <h5 class="card-title">Status: <span class="text-danger">Pending</span></h5>
              {% endif %}
              <p class="card-text">
                Topics: {{task.topics}}
              </p>
              <h4 class="card-text">            
                Skills: 
                {% if task.skill_category.all %}
                  
                    {% for skill in task.skill_category.all %}
                      <button type="button" class="btn btn-primary btn-sm" disabled>{{ skill.skill }}</button> 
                    {% endfor %}
                  
                {% else %}
                  No skills assigned.
                {% endif %}</h4>
              </div>
            
          </p>
        </div>
        {% comment %} <div class="card-footer d-flex">
          <button class="btn btn-link p-0 me-auto fw-bold" href="#">Action</button>
          <button class="btn btn-subtle" type="button"><i class="fas fa-heart fa-lg"></i></button>
          <button class="btn btn-subtle" type="button"><i class="fas fa-share fa-lg"></i></button>
        </div> {% endcomment %}
      </div>
    </div>
    <hr>
    {% endfor %}
    
  </div>
</section>

{% endblock content %}